<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite">
  <test thread-count="1" name="Test">
    <classes>
      <class name="sprint_2_Negative.MissingAddCalculation"/>
      <class name="sprint_2_Negative.ActionButtonSchemeListFullOperation"/>
      <class name="sprint_2_Negative.StartSubscribitionPaymentPageUsingBookingAccount"/>
      <class name="E_Commerce_FMS.E_CommerceAddingCaterogey"/>
      <class name="sprint_2_Negative.ActionButtonSchemeContentAddingSuccessfully"/>
      <class name="sprint_2_Negative.SubscribeButtonStartSubscribition"/>
      <class name="sprint_1_Positive.bSprint_1_LoginLogout_Demo_User"/>
      <class name="sprint_2_Negative.ActionButtonSchemeContentNull"/>
      <class name="Banners_FMS.Banners_MainBanners"/>
      <class name="sprint_1_Positive.dSprint_1_UserSchemeSubscription_Demo_User"/>
      <class name="sprint_2_Negative.NavigateEcommerce"/>
      <class name="E_Commerce_FMS.E_CommerceTransactions"/>
      <class name="E_Commerce_FMS.E_CommerceSubCategoy"/>
      <class name="sprint_2_Negative.TenureMonthstNull"/>
      <class name="sprint_2_Negative.LoginWithInvalidUserID"/>
      <class name="sprint_2_Negative.NavigateToDashboard"/>
      <class name="sprint_1_Positive.aSprint_1_LoginAndLogout_Demo_FMS"/>
      <class name="E_Commerce_FMS.ECommerceCategory"/>
      <class name="sprint_2_Negative.MissingAddSchemeName"/>
      <class name="sprint_1_Positive.eSprint_1_VerifyingTheSubscribedUserAndPayingMonthlySchemePayment_Demo_FMS"/>
      <class name="sprint_2_Negative.NavigateToSchemePage"/>
      <class name="E_Commerce_FMS.E_CommerceProductInfo"/>
      <class name="sprint_2_Negative.LoginWithInvalidPasswsord"/>
      <class name="sprint_2_Negative.RazorPayFailureButtonPaymentPass"/>
      <class name="sprint_2_Negative.TenureAmountListNull"/>
      <class name="E_Commerce_FMS.E_CommerceBrands"/>
      <class name="sprint_2_Negative.StartSubscribtionPaymentPageWUBA"/>
      <class name="sprint_2_Negative.MissedFeildsAreAddedInScheme"/>
      <class name="sprint_2_Negative.NavigateToUsers"/>
      <class name="Banners_FMS.Banners_SplashBanners"/>
      <class name="sprint_2_Negative.TenureMonthsAddedSuccessfully"/>
      <class name="E_Commerce_FMS.NavigationToECommerce"/>
      <class name="sprint_2_Negative.EditButtonSchemes"/>
      <class name="sprint_2_Negative.ActionButtonSchemeFeatureNull"/>
      <class name="sprint_2_Negative.ActionButtonSchemeFatureAddingSuccessfully"/>
      <class name="E_Commerce_FMS.E_CommerceOrders"/>
      <class name="sprint_2_Negative.LoginToApplication"/>
      <class name="E_Commerce_FMS.E_CommerceAddingSubCategory"/>
      <class name="sprint_2_Negative.MissingDescriptionFeild"/>
      <class name="sprint_2_Negative.InsepectBootstrapButtonOff"/>
      <class name="sprint_2_Negative.TenureAddingAmountSuccessfully"/>
      <class name="sprint_2_Negative.RazorPaySuccessButtonPaymentFail"/>
      <class name="sprint_1_Positive.cSprint_1_SchemeAllActions_Demo_FMS"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
